<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="shorcut icon" type="image/x-icon" href="img/favicon.ico">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Layout - Básica</title>
</head>
<body>
	<div class="contenedor">
		<header>
			<nav>
				<ul>
					<li><a href="#">Inicio</a></li>
					<li><a href="#">Acerca De</a></li>
					<li><a href="#">Productos</a></li>
					<li><a href="#">Contactos</a></li>
				</ul>
				
			</nav>
		</header>
		<section class="main">
			<div class="imagen">
				<img src="img/imagen.jpg" width="800" alt="">
			</div>
			<section class="posts">
				<article>
					<h2>La Grandeza de Dios</h2>
					<p>Dios es infinito. Para nosotros es difícil, con nuestras limitadas mentes humanas, imaginar exactamente lo que eso significa; sin embargo, es importante pensar en su grandeza. Su amor es inconmensurable, y Él es ilimitado en justicia y misericordia. El tiempo y el espacio no pueden contenerle.</p>
					<p>¿Podemos ir a alguna parte donde Dios no esté? Puede haber momentos en los que sintamos que queremos escondernos de Él, pero, por fortuna, no hay ningún lugar al que podamos ir que esté fuera de su alcance. Lo último que deberíamos desear es estar separados de Él. Como creyentes, estamos conectados con el Padre para siempre, porque Él es eterno. Se llama a sí mismo el Alfa y la Omega, lo que significa el principio y el fin. Esto no quiere decir que el Señor comenzó en algún momento en el pasado de la eternidad, y que terminará en algún momento en el futuro. Significa que cuando comenzaron el tiempo y el espacio, fue Él quien los creó.</p>
					<p>Cuando ellos terminen, Dios seguirá estando allí: Él es “el que es y que era y ha de venir” (Ap 1.8). Este era un concepto revolucionario para la multitud de judíos a quienes Cristo dijo: “Antes que Abraham fuese, yo soy” (Jn 8.58). Entendieron que Jesús, al decir que era uno con Yavé (el nombre de Dios, que significa “Yo soy”), afirmaba ser eterno, y por eso trataron de matarlo, pues consideraban que eso era una blasfemia (Jn 8.59)</p>
					<p>Pero Dios no solo es infinito y eterno; Él también es inmutable (Stg 1.17). Mucho de lo que creemos se basa en esta característica de Dios. Podemos confiar en sus promesas, porque ellas nunca cambian, y también en su amor porque éste nunca termina.</p>
				</article>
			</section>
		</section>
		<aside>
			<div class="widget">
				<h3 class="titulo">Articulos Destacados</h3>
				<ul>
					<li><a href="#">El amor de Dios</a></li>
					<li><a href="#">La gracia de Dios</a></li>
					<li><a href="#">La caida del hombre</a></li>
					<li><a href="#">Que dice la biblia sobre Demonios</a></li>
					<li><a href="#">Cristo Reina</a></li>
					<li><a href="#">Escatología, Cristo Viene Pronto</a></li>
				</ul>
			</div>
			<div class="widget">
				<h3 class="titulo">Información</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero voluptas quis rerum quibusdam repellat, possimus maiores a quam natus inventore modi ipsam doloremque dolore, officia magnam assumenda amet, consequuntur perferendis.</p>
			</div>
		</aside>

		<footer>
			<p>Ernesto Baltasar Nve Obono 2018 - Todos los derecohos reservados</p>
		</footer>
	</div>
</body>
</html>